@import '../../GlobalStyles/variables.scss';
@import '../../GlobalStyles/mixins.scss';

.suceess-stories-component {
    background: inherit;
    height: fit-content;
    min-height: 100vh;
    // padding: 3rem 6.5rem;
    overflow: hidden;


    .stories-wrapper-heading {
        // padding: 1.125rem 3.18rem;
        background: inherit;
        text-align: center;
        color: $defaultFontColor;
        font-weight: 900;
        font-family: 'Oswald';
        box-sizing: border-box;
        text-transform: uppercase;
        padding: (1.5 * $defaultMargin) 2rem !important;

        @include mQ($widthMobileMd) {
            margin: 0;
        }

        @include mQ($widthTablet) {
            padding: 0;
        }
    }
}

@include mQ($widthMobileLg) {
    .suceess-stories-component {
        font-size: 1.5rem !important;
        // padding: 1.5rem !important;
    }
}

@include mQ($widthTablet) {
    .suceess-stories-component {
        // padding: 2.5rem 3rem;

        .stories-wrapper-heading {
            // font-size: 1.875rem;
        }
    }
}

@include mQ($widthLaptop) {
    .suceess-stories-component {

        .stories-wrapper-heading {
            // font-size: 2.5rem;
        }
    }
}