.mapbox-gl-component-wrapper {
  position: relative;
  height: 100%;

  .map-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 40px;
    display: flex;


    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}