@import '../../GlobalStyles/variables.scss';
@import '../../GlobalStyles/mixins.scss';

.mapbox-gl-component-wrapper {
  position: relative;
  height: 100%;

  @include mQ($widthMobileLg) {
    display: none;
  }

  .map-controls {
    position: absolute;
    top: 1rem;
    left: 3rem;
    width: 95%;
    height: 40px;
    display: flex;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .zones-legend {
      display: flex;
      border-radius: 10px;

      .zone-block {
        border-right: none;

        &:first-child {
          .zone-color {
            border-radius: 25px 0 0 25px;
            border: 1px solid;
            border-right-color: transparent;
          }
        }

        &:last-child {
          .zone-color {
            border-radius: 0 25px 25px 0;
            border: 1px solid;
            border-left-color: transparent;
          }
        }

        .zone-color {
          height: 10px;
          width: 80px;
          border: 1px solid;
          border-right-color: transparent;
          border-left-color: transparent;

          &--zero {
            background: rgba(143, 11, 125, 0.5)
          }

          &--low {
            background: rgba(143, 11, 125, 0.65)
          }

          &--medium {
            background: rgba(143, 11, 125, 0.75)
          }

          &--high {
            background: rgba(143, 11, 125, 0.85)
          }

        }

        .zone-label {
          text-align: center;
          color: $defaultFontColor;
          margin-top: (0.5 * $defaultMargin) !important;
        }

      }

    }
  }
}