@import '../../GlobalStyles/variables.scss';

.mapbox-gl-component-wrapper {
  position: relative;
  height: 100%;

  .map-controls {
    position: absolute;
    top: 1rem;
    left: 3rem;
    width: 95%;
    height: 40px;
    display: flex;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .zones-legend {
      display: flex;
      border-radius: 10px;

      .zone-block {
        &:first-child {
          .zone-color {
            border-radius: 25px 0 0 25px;
          }
        }

        &:last-child {
          .zone-color {
            border-radius: 0 25px 25px 0;
          }
        }

        .zone-color {
          height: 10px;
          width: 80px;

          &--zero {
            background: #FCDE9C;
          }

          &--low {
            background: #FF9962;
          }

          &--high {
            background: #E83D62;
          }

          &--medium {
            background: #8F0B7D
          }
        }

        .zone-label {
          text-align: center;
          color: $defaultFontColor;
          margin-top: (0.5 * $defaultMargin) !important;
        }

      }

    }
  }
}