@import '../../GlobalStyles/variables.scss';
@import '../../GlobalStyles/mixins.scss';

.side-menu-component {
    text-align: center;
    height: 100%;
    padding: 3rem 1rem;
    display: flex;
    color: $defaultFontColor;
    flex-direction: column;
    position: relative;
    background: #ffffff;

    img {
        height: 50px
    }

    .actions {

        &--close {
            @include countBox;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.5rem;
            font-weight: 900;
            color: $defaultFontColor
        }
    }

    .useful-links {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        font-size: (0.8 * $defaultFontSize);

        flex: 1;

        a {
            text-decoration: none;
            text-align: center;
            padding: 1rem 0;
            border-bottom: 1px solid rgba(211, 211, 211, 0.472);
            font-weight: bold;
            color: inherit;
            font-family: 'Cabin'
        }
    }

    .footer {
        font-family: 'cabin';
        font-size: 0.85rem;

        a {
            text-decoration: none;
        }
    }
}