.summary {
    padding: 1rem;
    height: 350px;
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 1.2rem !important;
        display: flex;
        align-items: center;

        .flag-container {
            height: 35px;
            width: 55px;
            max-height: 35px;
            max-width: 55px;
            margin-right: 1.25rem;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .entity-name {
            font-weight: 900;
            flex: 1;
            text-transform: uppercase;
        }
    }

    &__stats {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 1.25rem 0;
        grid-gap: 0.5rem;

        .stats-tile {
            background: whitesmoke;
            height: 65px;
            width: 75px;
            border-radius: 6px;
            font-size: 0.75rem;
            display: flex;
            flex-direction: column;
            box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.64);
            padding: 0.75rem 0;
            align-items: center;
            font-weight: bolder;

            label {
                text-transform: capitalize;
            }

            &--cases {
                color: orange
            }

            &--deaths {
                color: red
            }

            &--critical {
                color: orangered
            }

            &--recovered {
                color: green
            }
        }
    }

    &__graph {
        flex: 1;
    }
}