@import '../src/GlobalStyles/mixins.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  ::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  @include mQ($widthLaptop) {
    font-size: (0.75 * $defaultFontSize) !important;
  }

  @include mQ($widthTablet) {
    font-size: (0.7 * $defaultFontSize) !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}