@import '../../GlobalStyles/variables.scss';
@import '../../GlobalStyles//mixins.scss';


.stats-card {
    color: $defaultFontColor;
    background: $cardBackground;
    padding: (0.75 * $defaultPadding);
    border-radius: $defaultBorderRadius;
    margin: 1rem;
    font-family: 'Cabin';
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    height: 100px;
    min-width: 350px;

    @include mQ($widthTablet) {
        margin: (0.5 * $defaultPadding)
    }

    @include mQ(($widthTablet)-1) {
        margin-left: (-0.5 * $defaultPadding);
        margin-right: (-0.5 * $defaultPadding);
        min-width: unset !important;
    }

    @include mQ($widthMobileLg) {
        margin-left: ($defaultPadding);
        margin-right: ($defaultPadding);
    }

    @include mQ($widthMobileMd) {
        margin-left: (0.5 * $defaultPadding);
        margin-right: (1 * $defaultPadding);
    }

    &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.32);

    }

    &.card-selected {
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.32);
    }

    &__info {
        display: flex;
        align-items: center;

        .avatar {
            margin-right: (0.35 * $defaultMargin);
            display: flex;
            align-items: center;

            span {
                @include countBox;
                font-size: 12px;
                margin-right: 10px;
            }


            img {
                height: 25px;
                width: 35px;
            }

            &.avatar-globe {
                img {
                    height: 35px !important;
                    width: 35px !important;
                }
            }
        }

        .label {
            font-weight: bold;
            flex: 1;
            text-transform: capitalize;
            font-size: $defaultFontSize;
        }

        .per-mil-count {
            @include countBox;
            color: $casesPerMil;
            font-weight: bold;
            font-size: 0.875rem;

        }
    }

    &__counts {
        display: flex;
        margin-top: (0.75 *$defaultMargin);

        .stats-count-cell {
            @include countBox;
            flex: 1;
            margin-right: (0.875 * $defaultMargin);
            text-align: center;

            &--cases {
                color: $casesColor;
            }

            &--deaths {
                color: $casesDeaths;
            }

            &--recovered {
                color: $casesRecovered;
            }

            &:last-child {
                margin-right: $zero;
            }
        }
    }
}