.switcher-component {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;

  .country-stats {
    font-size: 2rem;
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    color: white;
  }
}
