@import '../../GlobalStyles//variables.scss';
@import '../../GlobalStyles//mixins.scss';

@include mQ($widthMobileSm) {
    .modal-body {
        padding: 0.25rem
    }
}

.modal-header {
    text-transform: uppercase;
    font-weight: 900;
}

.graph-view-component {
    height: 100%;
    width: 100%;
    background-image: linear-gradient($body, $bodyLt);
    position: relative;
    padding: 2rem 1rem 1rem;
    display: flex;

    &--mobile-view {
        padding: 0.5rem;
    }

    @include mQ($widthTablet) {
        background: $body;
    }

    @include mQ($widthMobileSm) {
        padding: 0;
    }

    .graph-view-control {
        position: absolute;
        left: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 50%;
        background: $body;
        padding: 0.75rem;
        transform: translate(-50%, -25%);
        top: 0;

        &:hover {
            cursor: pointer;
        }

        img {
            height: 6px;
            width: auto;
        }
    }

    .graph-view-cards {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        overflow: scroll;


        .graphs-by-category {
            height: 100%;
            max-height: 35vh;
            display: flex;
            margin-bottom: 1rem;

            @include mQ($widthLaptop) {
                flex-direction: column;
                order: 2;
                align-items: center;
            }
        }

        .comparison-graph {
            background: $cardBackground;
            height: 300px;
        }
    }
}